name: mend_scan
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - puppet8
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout repo content
      uses: actions/checkout@v2 # checkout the repository content to github runner.
      with:
        fetch-depth: 1
    - name: setup ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7
    - name: create lock
      run: bundle lock
    # install java
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin' # See 'Supported distributions' for available options
        java-version: '17'
    # download mend
    - name: download_mend
      run: curl -o wss-unified-agent.jar https://unified-agent.s3.amazonaws.com/wss-unified-agent.jar
    - name: run mend
      run: java -jar wss-unified-agent.jar
      env:
        WS_FILESYSTEMSCAN: true
        WS_CHECKPOLICIES: true
        WS_FORCEUPDATE: true
        WS_APIKEY: ${{ secrets.MEND_API_KEY }}
        WS_WSS_URL: https://saas-eu.whitesourcesoftware.com/agent
        WS_USERKEY: ${{ secrets.MEND_TOKEN }}
        WS_PRODUCTNAME: CD4PE
        WS_PROJECTNAME:  ${{ github.event.repository.name }}
    - name: "report vulnerabilities"
      id: vulnerabilities
      uses: puppetlabs/get-mend-vulnerabilities@v2
      with:
        product_token: ${{ secrets.MEND_PRODUCT_TOKEN }}
        product_display_name: "CD4PE"
        user_token: ${{ secrets.MEND_TOKEN }}
        fail_on_alert: "true"
        projects: "puppet-dev-tools"
